<div class="coin-panel-container">
  <div class="section coin-name">{{coin.name}}</div>
  <div class="center-body">
    <div class="balance-details">
      <div class="token-section">
        <div class="value">{{coin.tokens}}</div>
        <div class="label">TOKEN</div>
      </div>
      <div class="current-price">
        <div class="value">{{coin.currentPrice}}$</div>
        <div class="label">CURRENT PRICE</div>
      </div>
      <div class="wallet">
        <div class="value">{{coin.balance}}$</div>
        <div class="label">WALLET</div>
      </div>
    </div>
  </div>
  <div class="section center-body">
    <div class="investment-details">
      <div class="profit green value">{{coin.profit}}$</div>
      <div class="profit-percentage green value">{{coin.profitPercentage}}%</div>
    </div>
  </div>
</div>
