<div class="container">
  <div class="section coin-name">BTC</div>
  <div class="center-body">
    <div class="balance-details">
      <div class="token-section">
        <div class="value">20</div>
        <div class="label">TOKEN</div>
      </div>
      <div class="current-price">
        <div class="value">$10.850</div>
        <div class="label">CURRENT PRICE</div>
      </div>
      <div class="wallet">
        <div class="value">$471.05</div>
        <div class="label">WALLET</div>
      </div>
    </div>
  </div>
  <div class="section center-body">
    <div class="investment-details">
      <div class="profit green value">$20,507.95</div>
      <div class="profit-percentage green value">51.88%</div>
    </div>
  </div>
</div>
