<div class="list-container">
  <div class="row row-no-padding">
    <app-coin-panel-component class="col-3"></app-coin-panel-component>
    <app-coin-panel-component class="col-3"></app-coin-panel-component>
    <app-coin-panel-component class="col-3"></app-coin-panel-component>
    <app-coin-panel-component class="col-3"></app-coin-panel-component>
  </div>
  <div class="row row-no-padding">
    <app-coin-panel-component class="col-3"></app-coin-panel-component>
    <app-coin-panel-component class="col-3"></app-coin-panel-component>
    <app-coin-panel-component class="col-3"></app-coin-panel-component>
    <app-coin-panel-component class="col-3"></app-coin-panel-component>
  </div>
</div>
