<div class="investment-summary-container row row-no-padding">
  <div class="account-value grey-background col-6">
    <div class="center-content">
      <div class="vertical-content">
        <div class="account-balance green header">$103,153<span class="currency">USD</span></div>
        <div class="green value">ACCOUNT VALUE</div>
      </div>
    </div>
  </div>
  <div class="all-time-delta grey-background col-6">
    <div class="center-content">
      <div class="vertical-content">
        <div class="horizontal-content">
          <div class="delta-balance green header">$30,756<span class="currency">USD</span></div>
          <div class="delta-percentage green header">80%</div>
        </div>
        <div class="green value">ALL TIME DELTA</div>
      </div>
    </div>
  </div>
</div>
<chart [options]="options"></chart>
<div class="list-container">
  <div class="row row-no-padding">
    <app-coin-panel-component class="col-3"></app-coin-panel-component>
    <app-coin-panel-component class="col-3"></app-coin-panel-component>
    <app-coin-panel-component class="col-3"></app-coin-panel-component>
    <app-coin-panel-component class="col-3"></app-coin-panel-component>
  </div>
  <div class="row row-no-padding">
    <app-coin-panel-component class="col-3"></app-coin-panel-component>
    <app-coin-panel-component class="col-3"></app-coin-panel-component>
    <app-coin-panel-component class="col-3"></app-coin-panel-component>
    <app-coin-panel-component class="col-3"></app-coin-panel-component>
  </div>
</div>
